{
  "ignorePatterns": [
    "dist",
    "*.js"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "react-app"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "endOfLine": "auto"
      },
      {
        "usePrettierrc": false
      }
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "semi": [
      "warn",
      "always"
    ],
    "curly": "warn",
    "lines-between-class-members": "error",
    "react/no-children-prop": "off",
    "no-lone-blocks": "error",
    "no-unused-vars": "error",
    "no-unused-expressions": "error",
    "no-unused-labels": "error",
    "import/no-anonymous-default-export": "off",
    "@typescript-eslint/no-redeclare": "off",
    "no-redeclare": "error"
  }
}
